# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# IntelliJ -- http://devnet.jetbrains.com/docs/DOC-1186
# =========================
xstream/.idea/*.iws
xstream/.idea/workspace.xml
xstream/.idea/copyright/*
xstream/.idea/dictionaries/*
xstream/.idea/uiDesigner.xml
xstream/.idea/misc.xml

#maven
xstream/target/*
